* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.top-section {
  background: linear-gradient(to bottom, #00000000, #000000);
  height: 676px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 120px;
}

.logo-icon {
  background: #ff9f34;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-icon span {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
}

.home {
  padding-left: 276px;
}

a {
  display: flex;
  gap: 38px;
  font-size: 14px;
  color: #ffffff;
}

.buttons {
  display: flex;
  gap: 24px;
}

.buttons button {
  cursor: pointer;
  font-size: 14px;
  border: none;
  color: #ffffff;
}

.signup {
  padding-right: 120px;
  width: 118px;
  height: 38px;
  border: 10px solid white;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-left: 120px;
}

.hero-text {
  width: 519px;
  height: 216px;
  color: #ffffff;
}

.hero-text h1 {
  font-size: 52px;
  line-height: 72px;
  padding-bottom: 10px;
}
.hero-text h2 {
  font-size: 52px;
  line-height: 72px;
  padding-bottom: 10px;
}
.hero-text h3 {
  font-size: 52px;
  line-height: 72px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 16px;
  color: #ffffffb5;
  margin-bottom: 30px;
  width: 514px;
  height: 96px;
}

.btn {
  background-color: #ff9f34;
  border: none;
  color: #ffffff;
  font-weight: 500px;
  cursor: pointer;
  width: 165px;
  height: 56px;
  margin-bottom: 80px;
  margin-top: 32px;
}
.watch-video {
  display: none;
}

.hero-play {
  background-color: #ffffff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 24px;
  margin-right: 320px;
}

.stats {
  display: flex;
  justify-content: space-around;
  gap: 131px;
  align-items: center;
  padding: 80px 120px;
  background-color: #fff8f1;
}

.stat h2 {
  color: #1e1000;
  font-size: 40px;
  margin-bottom: 5px;
}

.stat p {
  color: #1e1000;
  font-size: 40px;
}

.stat-text {
  width: 514px;
  color: #1e1000b5;
  font-size: 16px;
}

/* ნაცრისფერი ბლოკი (მარცხენა მხარე) */
.image-box {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 600px;
  height: 500px;
  background-color: #c4c4c4;
}

/* ყავისფერი ბლოკი (მარჯვენა მხარე) */
.text-box {
  position: relative;
  top: 300px;
  left: 290px;
  width: 1150px;
  height: 540px;

  background-color: #402613;
  color: white;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  margin-bottom: 340px;
}

.text-box h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 526px;
  padding-top: 52px;
  letter-spacing: 0.5px;
}

.text-box p {
  font-size: 16px;
  color: #ffffffb5;
  line-height: 32px;
  padding-left: 526px;
  padding-top: 24px;
  width: 514px;
  height: 224px;
}

.first_p {
  margin-bottom: 10px;
}

.benefits {
  padding: 180px 120px;
  background-color: #ffffff;
}

.benefits-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #1e1000;
  line-height: 60px;
  margin-bottom: 52px;
}

.benefits-content {
  display: flex;
  justify-content: space-between;
  gap: 52px;
}

.benefits-left {
  width: 450px;
}

.benefits-left h3 {
  font-size: 24px;
  font-weight: 600;
  color: #121212;
  margin-bottom: 16px;
}

.benefits-left p {
  font-size: 16px;
  color: #1e1000b5;
  line-height: 32px;
  margin-bottom: 40px;
}

.advantage-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #f2f2f2;

  padding: 15px 26px;
  margin-bottom: 24px;
  background-color: #f2f2f2;
  width: 450px;
  height: 80px;
}

.text h4 {
  font-size: 18px;
  font-weight: 500;
  color: #1e1000;
  margin-bottom: 8px;
  margin-top: 11px;
}

.text p {
  font-size: 16px;
  color: #1e1000b5;
}

.benefits-right {
  width: 698px;
  height: 444px;
  background-color: #c4c4c4;
}

/* Responsive */

@media (max-width: 375px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding-left: 24px;
  }

  .hero-text {
    width: 323px;
    text-align: center;
  }

  .hero-text p {
    width: 320px;
  }

  .play-btn {
    display: none;
  }

  .watch-video {
    display: inline-block;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 16px 26px;
    font-size: 16px;
    cursor: pointer;
  }
  .stats {
    flex-direction: column;
    gap: 24px;
  }

  .text-box h2,
  .text-box p {
    text-align: center;
    width: 100%;
  }

  .image-box {
    position: absolute;
    top: -50%;
    left: 50%;
    width: 327px;
    height: 272px;
  }

  .benefits {
    padding: 100px 40px;
  }

  .benefits-content {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .benefits-left {
    width: 100%;
    text-align: center;
  }

  .benefits-right {
    width: 100%;
    height: 300px;
  }

  .advantage-box {
    width: 100%;
    gap: 20px;
    text-align: left;
  }
}


.h2-case {
    font-weight: 700;
    font-size: 40px;
    padding-left: 330px;
    margin-top: 100px;
}

.p-case {
    font-weight: 400;
    font-size: 16px;
    color: #1E1000B5;
    padding-right: 330px;
    margin-top: 100px;
}

.h2-p-case {
    display: flex;
    justify-content: space-between;
}

.img-case {
    width: 384px;
    height: 300px;
}

.orange-p {
    font-weight: 400;
    font-size: 16px;
    color: #FF9F34;
    margin-top: 20px;
}

.h3-case {
    font-weight: 600;
    font-size: 24px;
    margin-top: 15px;
}

.p-build {
    font-weight: 400;
    font-size: 16px;
    color: #1E1000B5;
    margin-top: 15px;
}

.gray-card {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    margin-top: 50px;
}